:root {
  /*fuentes*/
  --fontBase: "raleway", sans-serif;
  --button: bold 14px/22px;
  /*colores*/
  --violeta: #5956e9;
  --rosa: #fab8c3;
  --blanquesco: #dcdefe;
  --subtitle: #000000;
  --parrafo: #868686;
  --transparente: #edeef6;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-family: "raleway", sans-serif; /*fuente base DM Sans*/
}
/* --------------------yo---------------------- */
.main,
.section_first,
.section_second,
.section_third,
.section_first-description,
.section_second-description,
.section_therd-description,
.section_fourth-description,
.circle {
  display: flex;
}

.main {
  height: fit-content;
  max-width: 100%;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.wrapper {
  max-inline-size: 1150px;
  padding-inline-end: 16px;
  padding-inline-start: 16px;
  margin: auto;
  margin-bottom: 16px;
  /* outline: solid blue; */
}

.button {
  background: var(--rosa);
  color: var(--violeta);
  font: var(--button);
  padding-inline-start: 24px;
  padding-inline-end: 24px;
  padding-block-start: 13px;
  padding-block-end: 13px;
  border-radius: 10px;
  text-transform: capitalize;
  border: none;
  text-decoration: none;
  text-align: center;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  cursor: pointer;
}
.button-secondary{
  font: var(--button);
  padding-inline-start: 24px;
  padding-inline-end: 24px;
  padding-block-start: 13px;
  padding-block-end: 13px;
  border-radius: 10px;
  text-transform: capitalize;
  border: none;
  text-decoration: none;
  text-align: center;
  color: var(--blanquesco);
  background-color: var(--violeta);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  width: 50%;
}
.header {
  top: 0;
  border: 1px;
}

.header-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  block-size: 80px;
}

.menu{
  display: none;
}

.menu ul{
  display: flex;
  list-style: none;
  gap: 40px;
}

.menu ul a{
  text-decoration: none;
  color: var(--subtitle);
  font: var(--button);
  text-transform: capitalize;
}

.menu ul a.is-active{
  color: var(--violeta);
}

.nav__input:checked + .menu{
  background: tomato;
}

.nav__label, .nav__input{
  display: none;
}

.header-main {
  padding-block-start: 16px;
  align-items: center;
  margin: 8px;
}

.header-content {
  display: flex;
  flex-direction: column;
  gap: 38px;
}

.header-image {
  text-align: center;
}

.header-image img {
  max-inline-size: 100%;
  block-size: auto;
}

.header-main h1 {
  margin: 0;
}

.header-content h1 span{
  font-size: 40px;
}

.header-main h1 span:first-child {
  display: block;
}

.header-nav button{
  display: none;
}

.copyright {
  text-align: center;
  padding-block-end: 24px;
  gap: 16px;
  font-weight: 5;
}

.copyright span {
  font-weight: bold;
}
/* .footer-description{
  display: flex;
  flex-direction: column;
  gap: 16px;
} */
.footer-content {
  align-items: center;
  padding-block-start: 16px;
}

.footer-description h1 {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-image {
  text-align: center;
}

.footer-image img {
  max-inline-size: 100%;
  block-size: auto;
}

.section_first,
.section_second {
  width: 90%;
  height: fit-content;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.section_third {
  width: 100%;
  height: fit-content;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  background-color: var(--rosa);
}

.section_first h3 {
  text-align: center;
}

.section_first-description,
.section_second-description,
.section_therd-description {
  width: 100%;
  margin-top: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.section_first h3 {
  font-size: clamp(9px, 10vw, 30px);
  font-family: raleway;
  font-weight: 500;
  color: var(--subtitle);
}
.section_first-description h2,
h3 {
  color: var(--subtitle);
}

.section_first-description h2,
p {
  font-family: raleway;
}

.section_first-description p {
  text-align: center;
  margin-top: 15px;
  line-height: 1.5;
  font-weight: 500;
  font-size: clamp(9px, 11vw, 28px);
  color: var(--parrafo);
}
.section_first-description h4,
.section_therd-description h4 {
  text-align: center;
  font-size: clamp(8px, 10vw, 28px);
  font-weight: bold;
  margin-bottom: 10px;
  color: var(--violeta);
}
.section_third h2 {
  text-align: center;
  font-size: clamp(8px, 12vw, 50px);
  font-weight: bold;
  margin-bottom: 10px;
  color: var(--violeta);
}
.section_first-description h2,
.section_therd-description h2 {
  width: 370px;
  text-align: center;
  font-weight: bold;
  font-size: clamp(9px, 11vw, 3em);
  color: var(--subtitle);
}
.section_second-description h2 {
  width: 370px;
  text-align: center;
  font-weight: bold;
  font-size: clamp(2em, 14vw, 3.3em);
  color: var(--subtitle);
}

.section_first-image {
  margin-left: 40px;
  width: 480px;
  height: 700px;
}

.section_second-description {
  width: 80%;
  margin-top: 70px;
}
.section_therd-description {
  margin-top: 150px;
}
/* ----------------------------- */

.section_second-description p {
  width: 370px;
  text-align: center;
  margin-top: 15px;
  line-height: 1.5;
  font-weight: 500;
  font-size: clamp(10px, 10vw, 30px);
  color: var(--parrafo);
}
.section_therd-description p {
  text-align: center;
  margin-top: 15px;
  line-height: 1.5;
  font-weight: 500;
  font-size: clamp(9px, 9vw, 32px);
  color: var(--parrafo);
}
.circle {
  margin-top: 135px;
  justify-content: center;
  align-items: center;
  width: 360px;
  height: 360px;
  background-color: var(--rosa);
  border-radius: 50%;
}
.section_second-image {
  width: auto;
  height: auto;
  max-width: 440px;
  max-height: 590px;
}

.section_therd-image {
  margin-right: 20px;
  width: auto;
  height: auto;
  max-width: 430px;
  max-height: 590px;
}
.section_third button {
  visibility: hidden;
}

.section_fourth-image {
  margin-top: -90px;
  width: 680px;
  height: 760px;
}

/*------------------------------------------------------*/
@media screen and (min-width: 768px) {
  .menu{
    display: block;
  }

  .header-nav a{
    display: none;
  }
  
  .header-nav button{
    display: block;
  }

  .header-main{
    display: flex;
    gap: 32px;
  }
  .header-content{
    order: 1;
    max-inline-size: 450px;
  }

  .header-image{
    order: 2;
    text-align: center;
    flex: 1;
  }

  .header-nav a{
    display: block;
  }

  .footer-content {
    display: flex;
    gap: 32px;
  }

  .footer-description{
    order: 1;
    max-inline-size: 450px;
  }

  .footer-image{
    order: 2;
    text-align: end;
    flex: 1;
  }
}

@media screen and (min-width: 1024px) {
  .header-image img {
    inline-size: 500px;
    block-size: 504px;
  }

  .footer-image img {
    inline-size: 500px;
    block-size: 504px;
  }

  .footer {
    margin-block-start: 40px;
    margin-block-end: 40px;
  }
}

@media (max-width: 768px){
  .nav__label{
    display: block;
    cursor: pointer;
  }

  .menu{
    position: fixed;
    top: 80px;
    bottom: 0;
    background: #f08080;
    width: 100%;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    clip-path: circle(0 at center);
    transition:   clip-path 1s ease-in-out;
    -webkit-transition:   clip-path 1s ease-in-out;
    -moz-transition:   clip-path 1s ease-in-out;
    -ms-transition:   clip-path 1s ease-in-out;
    -o-transition:   clip-path 1s ease-in-out;
}

  .nav__input:checked + .menu{
    clip-path: circle(100% at center);
  }

}

@media (min-width: 768px) {
  .section_first-description {
    margin-top: 5px;
    position: relative;
    flex-direction: row-reverse;
    justify-content: center;
  }
  .section_first-description h4 {
    text-align: left;
    font-size: clamp(7px, 10vw, 18px);
  }
  .section_first-description h2 {
    text-align: left;
    margin-top: 10px;
    font-size: clamp(2em, 20vw, 2.5em);
  }
  .section_first-description p {
    text-align: left;
    margin-top: 10px;
    font-size: clamp(9px, 15vw, 22px);
  }
  .section_first-desktop {
    /* width: 320px; */
    margin-right: 70px;
    flex-direction: column;
  }
  .circle_desktop {
    position: absolute;
    width: 75px;
    height: 75px;
    background-color: var(--violeta);
    border-radius: 50%;
    top: 390px;
    right: 80px;
  }
  .section_first-image {
    margin-left: 60px;
    width: 350px;
    height: 480px;
  }

  .section_second-description {
    position: absolute;
    width: 100%;
    height: 480px;
    border-radius: 20px;
    position: relative;
    margin-top: 15px;
    background: linear-gradient(to left, #edeef6, #dcdefe);
  }
  .section_second-description h2,
  .section_second-description p {
    text-align: left;
    margin-right: 310px;
  }
  .section_second-description h2 {
    font-size: clamp(2em, 20vw, 2.5em);
    color: var(--subtitle);
  }
  .section_second-description p {
    margin-top: 0px;
    /* font-size: clamp(10px, 20vw, 17px); */
    font-size: 29px;
  }
  .circle {
    position: absolute;
    margin-top: 10px;
    right: 70px;
    width: 250px;
    height: 250px;
  }
  .section_second-image {
    width: 220px;
    height: 415px;
  }
  .circle_desktop-one {
    position: absolute;
    width: 85px;
    height: 85px;
    background-color: var(--rosa);
    border-radius: 50%;
    top: 430px;
    left: 200px;
  }
  .circle_desktop-two {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: var(--rosa);
    border-radius: 50%;
    top: 40px;
    right: 350px;
  }
  .circle_desktop-three {
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: var(--violeta);
    border-radius: 50%;
    top: 65px;
    right: 30px;
  }
  .section_therd-description {
    flex-direction: row-reverse;
  }
  .section_therd-desktop h4,
  .section_therd-desktop h2,
  .section_therd-desktop p {
    text-align: left;
  }

  .section_therd-description p {
    margin-top: 15px;
    font-size: clamp(29px, 100%, 30px);
  }
  .section_therd-description h4 {
    font-size: clamp(8px, 10vw, 21px);
    font-weight: bold;
  }
  .section_therd-desktop {
    display: flex;
    flex-direction: column;
  }
  .section_therd-image {
    width: 350px;
    height: 480px;
  }
  .section_third {
    position: relative;
    flex-direction: row;
    width: 80%;
    height: 400px;
    border-radius: 20px;
  }
  .section_third h2 {
    text-align: left;
    font-size: clamp(8px, 12vw, 35px);
  }
  .section_third-description button {
    visibility: visible;
    /* visibility: visible/hidden; */
    /* display: none/block; */
    border: none;
    cursor: pointer;
    background: center;
    padding: 15px 70px 15px 70px;
    border-radius: 10px;
    text-align: left;
    font-family: raleway;
    font-weight: bold;
    font-size: 1em;
    letter-spacing: 1px;
    margin-top: 15px;
    color: var(--blanquesco);
    background-color: var(--violeta);
  }

  .section_third-description {
    margin-left: 50px;
  }

  .section_fourth-image {
    margin-bottom: 60px;
    margin-right: -100px;
    width: 580px;
    height: 600px;
  }
}
