:root {
  /*fuentes*/
  --fontBase: 'raleway', sans-serif;
  --button: bold 14px/22px var(--fontBase) ;
  /*colores*/
  --violeta: #5956e9;
  --rosa: #fab8c3;
  --blanquesco: #dcdefe;
  --subtitle: #000000;
  --parrafo: #868686;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-family: "raleway", sans-serif; /*fuente base DM Sans*/
}
/* --------------------yo---------------------- */
.main,
.section_first,
.section_second,
.section_therd,
.section_first-back,
.section_first-gadget,
.section_first-description,
.section_second-description,
.section_therd-description,
.section_first-blurred,
.circle {
  display: flex;
}
.main {
  height: fit-content;
  max-width: 100%;
  align-items: center;
  flex-direction: column;
  background-color: red;
}
.section_first {
  max-width: 100%;
  height: fit-content;
}
.section_first h3 {
  text-align: center;
}

.section_first-description {
  width: 80%;
  margin-top: 80px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.section_first h3 {
  font-size: clamp(9px, 10vw, 30px);
  font-family: raleway;
  font-weight: 500;
  color: var(--subtitle);
}
.section_first-description h2,
h3 {
  color: var(--subtitle);
}

<<<<<<< HEAD
.section_first-description h2,
p {
  font-family: raleway;
}

.section_first-description p {
  text-align: center;
  margin-top: 15px;
  line-height: 1.5;
  font-weight: 500;
  font-size: clamp(9px, 10vw, 23px);
  color: var(--parrafo);
}
.section_first-description h4,
.section_therd-description h4 {
  font-size: clamp(8px, 10vw, 28px);
  margin-bottom: 10px;
  color: var(--violeta);
}
.section_first-description h2,
.section_second-description h2,
.section_therd-description h2 {
  justify-content: center;
  text-align: center;
  font-weight: bold;
  font-size: clamp(10px, 10vw, 40px);
  color: var(--subtitle);
}

.section_first-image {
  /* height: 100px;
  width: 100px;
  margin-top: -10px;
  justify-content: center; */
  /* max-width: 270px; */
  /* max-height: 160px; */

  margin-left: 35px;
  width: auto;
  height: auto;
  max-width: 450px;
  max-height: 700px;
}

.section_second,
.section_therd {
  max-width: 100%;
  height: fit-content;
  align-items: center;
  flex-direction: column;
}

.section_second-description,
.section_therd-description {
  width: 80%;
  margin-top: 70px;
=======
.wrapper {
  max-inline-size: 1158px;
  padding-inline-end: 16px;
  padding-inline-start: 16px;
  margin: auto;
  outline: 1px solid;
}

.header {
  top: 0;
  /* outline: 1px solid; */
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  block-size: 80px;
}

.menu {
  display: none;
  /* outline: 1px solid; */
}

.menu ul {
  display: flex;
  list-style: none;
  gap: 40px;
}

.menu ul a {
  text-decoration: none;
  color: var(--subtitle);
  font: var(--button);
  text-transform: capitalize;
  
}

.menu ul a.is-active {
  color: var(--violeta);
}


.section_first {
  width: 90%;
  height: 65vh;
>>>>>>> da79263fcb7d28f4ee77dc0173a072b00603e43c
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.section_second-description p {
  text-align: center;
  margin-top: 15px;
  line-height: 1.5;
  font-weight: 500;
  font-size: clamp(10px, 10vw, 27px);
  color: var(--parrafo);
}
.section_therd-description p {
  text-align: center;
  margin-top: 15px;
  line-height: 1.5;
  font-weight: 500;
  font-size: clamp(9px, 10vw, 28px);
  color: var(--parrafo);
}
.section_second-image {
  width: auto;
  height: auto;
  max-width: 440px;
  max-height: 590px;
}

.section_therd-image {
  width: auto;
  height: auto;
  max-width: 400px;
  max-height: 590px;
}
.circle {
  margin-top: 130px;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 350px;
  background-color: var(--rosa);
  border-radius: 50%;
}
.section_therd {
  margin-top: 100px;
}

/* 

.section_first h3 {
  font-family: raleway;
  font-weight: 500;
}
.section_first-container {
  margin-top: 20px;
  width: 100%;
  justify-content: space-around;
}

.section_first-back {
  border-radius: 10px;
  margin: 0 0 0 10px;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 200px;
  background-color: var(--blanquesco);
}
.section_first-gadget {
  border-radius: 10px;
  height: 190px;
  width: 90px;
  flex-direction: column;
  align-items: center;
  background-color: var(--violeta);
}
.section_first-gadget h3 {
  padding-top: 15px;
  padding-left: 12px;
  font-size: clamp(4px, 12vw, 14px);
  font-weight: 600;
  letter-spacing: 0.2vw;
  color: white;
}
.section_first-description {
  width: 200px;
  margin: 30px 0 50px 15px;
}
.section_first-description h2,
h3 {
  color: var(--subtitle);
}

.section_first-description h2,
p {
  font-family: raleway;
}

.section_first-description p {
  margin-top: 15px;
  line-height: 1.5;
  font-size: clamp(9px, 10vw, 9px);
  color: var(--parrafo);
}
.section_first-description h4 {
  font-size: clamp(10px, 10vw, 10px);
  margin-bottom: 10px;
  color: var(--violeta);
} */

/* 
.section_first-blurred {
  margin-top: 9px;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 90px;
  box-shadow: 0px -25px 14px -3px rgba(89, 86, 233, 0.9);
  -webkit-box-shadow: 0px -25px 14px -3px rgba(89, 86, 233, 0.9);
  -moz-box-shadow: 0px -25px 14px -3px rgba(89, 86, 233, 0.9);
}
.section_first-button {
  background-color: white;
  color: var(--violeta);
  text-decoration: none;
  font-size: 6px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  height: 20px;
  width: 70px;
}
.circle {
  width: 35px;
  height: 35px;
  background-color: var(--violeta);
  position: absolute;
  border-radius: 50%;
  margin-left: 240px;
  top: 225px;
}
<<<<<<< HEAD
*/
/* -------------------------------------------- */
=======

/*---------------*/
@media screen and (min-width: 768px) {
  .menu {
      display: block;
  }
}
>>>>>>> da79263fcb7d28f4ee77dc0173a072b00603e43c
